<div class="col-md-8 offset-md-3"> 
<h3 *ngIf = !this.updateEmp>Create Employee</h3>
<h3 *ngIf = this.updateEmp>Update Employee</h3>
<form>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" id="firstName"
            [(ngModel)] = "employee.firstName" name="firstName"/>
    </div>
    <br>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" id="lastName"
            [(ngModel)] = "employee.lastName" name="lastName"/>
    </div>
    <br>
    <div class="form-group">
        <label>Email Id</label>
        <input type="text" class="form-control" id="emailId"
            [(ngModel)] = "employee.emailId" name="emailId"/>
    </div>
    <br>

    <button *ngIf = !this.updateEmp class="btn btn-success" (click) = "onSubmit()" type="submit">SAVE Employee</button>
    <button *ngIf = this.updateEmp class="btn btn-success" (click) = "updateEmployee()" type="submit">UPDATE Employee</button>
</form>
</div>